@import url("https://fonts.googleapis.com/css?family=Dosis|Lacquer&display=swap&subset=latin-ext");

@font-face {
  font-family: "lifecraftregular";
  src: url("fonts/lifecraft.woff2") format("woff2"),
    url("fonts/lifecraft.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lifecraftregular;
  background-color: black;
  overflow-x: hidden;
}

.intro {
  color: #82141c;
  /* font-family: Lacquer; */
  /* animation: blowup 3s forwards; */
  text-align: center;
  font-size: 8vh;
  background-image: url(hordesmall.png);
  background-repeat: no-repeat;
  background-position: 50% 70%;
  animation: ridein 2s, appear 1s 4s reverse forwards;
  height: 100vh;
}

.app {
  background-position: 50%;
  /* background-image: url(hordesmall.png); */
  background-size: contain;
  animation: appear 3s;
}

.app img {
  height: 30vh;
  margin: 3vh;
}

h1 {
  font-size: 12vh;
  font-weight: 500;
  margin-bottom: 0;
  animation: textridein 2s, appear 1s 4s reverse forwards;
}

h2 {
  margin-top: 0;
  font-size: 6vh;
  padding: 0;
  font-weight: 100;
  animation: appear 2s 2s both, appear 1s 4s reverse forwards;
}

button {
  background-color: #82141c;
  border: 2px solid black;
  font-family: Dosis;
  font-weight: bold;
  display: block;
  font-size: 5vh;
  margin: 2vh auto;
  padding: 1vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button span {
  font-family: lifecraftregular;
  font-size: 7vh;
  font-weight: normal;
}

@keyframes ridein {
  from {
    background-position: 50% 220%;
  }
  to {
    background-position: 50% 70%;
  }
}

@keyframes textridein {
  from {
    transform: translate(0, -150%);
  }
  to {
    transform: none;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (orientation: landscape) {
  .app img {
    display: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 8vh;
  }

  button {
    flex: auto;
    width: 20vw;
    margin: 0.3vw 1vw;
    transition: 0.4s;
    cursor: pointer;
    height: 15vh;
  }

  button span {
    opacity: 0;
    transition: 0.6s;
  }

  button:hover {
    background-color: rgb(211, 8, 8);
  }

  button:hover span {
    opacity: 1;
  }

  button:nth-last-of-type(1) {
    font-size: 7vh;
    text-transform: uppercase;
    animation: pulse 0.3s 3s alternate infinite,
      orccolor 0.3s 3s alternate infinite both linear;
  }
}

@keyframes pulse {
  from {
    font-size: 7vh;
  }
  to {
    font-size: 8vh;
  }
}
